*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 600px;
    background: url(playa.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    position: relative;
}
.background-overlay
{
    position: absolute;
    background: rgba(48, 51, 107,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
#principal{
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}
header{
	height: 75px;
	background: rgb(118, 124, 29);
}
header h1{
	font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(243, 228, 93);
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 255, 109);
}
h3{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 226, 65);
}
a{
    text-decoration: none;
    font-size: 20px;
    border: 1px solid rgb(250, 188, 188);
    border-radius: 5px;
    color: rgb(22, 44, 236);
    display: inline-block;
    padding: 10px;
    width: 220px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    background: rgb(0, 0, 0);
    color: #fff;
}
h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}